@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root {
    --main-yellow: hsl(39, 100%, 50%);
    --home-bgc: hsl(199, 100%, 11%, 0.3);
    --menu-bgc: hsl(199, 100%, 11%, 0.7);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-image: url(./jason-leung-poI7DelFiVA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:#fff;
}

/* ######################## */

#header {
    height: clamp(2rem, 9vh, 6rem);
    background-color: #00000080;
    border-bottom: 2px solid var(--main-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 12vw, 6rem);   /** <========= */
}

.home-button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: clamp(.7rem, 4vw, 1.1rem);
    margin-right: 20px;
}

.contact-button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: clamp(.7rem, 4vw, 1.1rem);

}

.about-button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: clamp(.7rem, 4vw, 1.1rem);
    margin-right: 20px;

}


button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: clamp(.7rem, 4vw, 1.1rem);
}

button:hover {
    border-bottom: 2px solid var(--main-yellow);
}

/* =============================================== */

#content {
    height: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--home-bgc);

}

#home {
    border-radius: 12%;
    padding-left: 20px;
    padding-right: 20px;
    height:  40%;
    color: #fff;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 35% min-content 13% 1fr;
    background-color: var(--menu-bgc);
}

#home h1 {
    font-size: 3.8rem;
}

#home p {
    color: var(--main-yellow);
}

/* =============================================== */

#menu {
    background-color: var(--menu-bgc);
    border-radius: 8px;
    height: 80%;
    width: clamp(180px, 70%, 900px);
    overflow: auto;
    padding: min(10%, 3rem) min(10%, 4rem);
}

@media (min-width: 650px) {
    #menu::-webkit-scrollbar {
        width: 5px;
    }
    #menu::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 70%, 0.4);
        border-radius: 8px;
    }
}

#menu h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: clamp(1.5rem, 7vw, 4rem);
    color: var(--main-yellow);
    font-weight: 300;
    line-height: 10%;
}

#menu h1 {
    font-size: clamp(1.8rem, 8vw, 5rem);
}

#menu h3 {
    font-size: clamp(1rem, 4vw, 2rem);
    color: var(--main-yellow);
    margin-bottom: 1vh;
}

#menu p {
    font-size: clamp(.7rem, 3vw, 1.4rem);
}

#menu hr:first-of-type {
    margin-top: 2vh;
}

#menu hr {
    width: max(6rem, 50%);
    border: 1px solid var(--main-yellow);
    margin: 4vh auto 3vh;
}

/* =============================================== */


#contact {
    background-color: var(--menu-bgc);
    border-radius: 8px;
    height: 80%;
    width: clamp(180px, 70%, 900px);
    color: #fff;
    text-align: center;
    overflow: auto;
    padding: min(10%, 3rem) min(10%, 4rem);
}

#contact h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: clamp(1.5rem, 7vw, 4rem);
    color: var(--main-yellow);
    font-weight: 300;
    line-height: 10%;
}

#contact h1 {
    font-size: clamp(1.8rem, 8vw, 5rem);
}

#contact p {
    font-size: clamp(.7rem, 3vw, 1.4rem);
    margin-bottom: min(39%, 30vh);
    text-align: left;
}